backend/discord-bot/.env
backend/telegram/.env
.env
Channel.json
Guild.json
User.json
Chat.json
frontend/discordAttendence/public/dist/
frontend/discordAttendence/.DS_Store
frontend/discordAttendence/dist